@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600;800&display=swap");

.header {
  height: 30rem;
  background: linear-gradient(
      0deg,
      rgba(38, 126, 121, 0.3),
      rgba(0, 247, 210, 0.3)
    ),
    url("../../assets/images/banner.jpg");
  background-size: cover;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}

.headerTitleLg {
  position: absolute;
  top: 10rem;
  font-size: 100px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  color: rgb(6, 39, 79);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 2rem;
  object-fit: cover;
}
